{% extends "emails/base/email_base.html" %}

{% block content %}
<div class="greeting">
    Hello {{ user.get_full_name|default:user.first_name }}!
</div>

<div class="content">
    <div class="info-box success">
        <strong>Password Changed Successfully</strong><br>
        Your {{ utility_name }} account password was changed on {{ user.last_login|date:"F j, Y \a\t g:i A" }}.
    </div>
    
    <p>This email confirms that your password has been successfully updated. You can now use your new password to access your account.</p>
    
    <div style="text-align: center; margin: 30px 0;">
        <a href="{{ frontend_url }}/auth/login/" class="button">Login to Your Account</a>
    </div>
    
    <div class="info-box warning">
        <strong>Security Alert:</strong><br>
        If you didn't change your password, please contact your system administrator immediately at {{ contact_email }}.
    </div>
    
    <p>For your security, we recommend:</p>
    <ul>
        <li>Using a strong, unique password</li>
        <li>Not sharing your password with anyone</li>
        <li>Logging out when you're done using the system</li>
    </ul>
</div>
{% endblock %}